.mainButtons {
    background-color:#B0E0E6; 
}

body {
    background-color: #F0F8FF;
    /* font-size: 36px; */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.new-Game {
    background-color: #00BFFF;
}

